.main-heading {
    color: #4A2619;
    margin-left: 30px;
}

.sub-heading {
    color: #4A2619;
}

section {
    margin: 0 40px;
}

section p {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 0.8s ease-out forwards;
    }

    @keyframes slideInLeft {
        to {
            opacity: 1;
            transform: translateX(0);
        }
}

gmp-map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
#map {
  height: 45%;
}